<%- include("partials/header") %>

<div class="container d-flex flex-column align-items-center">
    <h3>Oops, something went wrong</h3>
    <a  class="mt-3" href="/"><h5>Return to the homepage</h5></a>
</div>

<%- include("partials/footer") %>