<%- include("partials/header") %>

<div class="container">
    <div class="row px-5">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2638767">Saint Just</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2638853">Saint Austell</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2640194">Plymouth</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2654380">Bude</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2655095">Bournemouth</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2641598">Newport</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2654675">Bristol</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2653822">Cardiff</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2636432">Swansea</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2653755">Carmarthen</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2643743">London</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2637433">Southend-on-sea</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2646057">Ipswich</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2641430">Northampton</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2643490">Lowestoft</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2647984">Great Yarmouth</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2652221">Coventry</a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-2">
            <a href="/2644668">Leicester</a>
        </div>
    </div>
</div>

<%- include("partials/footer") %>