<%- include("partials/header") %>

<div class="container">
    <div id="mapDiv" style="width: 100%; height: 500px"></div>
</div>

  <script>
   
    // initialize map
    map = L.map('mapDiv').setView([51.7520, -1.2577], 7);
    // set map tiles source
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      maxZoom: 20,
    }).addTo(map);
    // add marker to the map

    var destinations = <%- JSON.stringify(destinations) %>

    destinations.forEach((item, index) => {
      return (index = L.marker([item.lat, item.lon]).addTo(map),
              index.bindPopup(`<b>${item.name}</b><br><a href='/${item.OWMKey}'>see data</a>`)
      )
    });
        
  </script>


<%- include("partials/footer") %>